*,
*::before,
*::after {
  box-sizing: border-box; 
}

#unico{
    margin: 50px;
    border-style: solid;
    padding: 50px;
    
}
h1{
    text-align: center;
    background-color: rgb(250, 241, 241);
    border-style: solid;
}